<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Message from <%= message.user %></h1>
  <p><strong>Message:</strong> <%= message.text %></p>
  <p><strong>Added:</strong> <%= message.added %></p>

  <a href="/">
    <button>Back to Message Board</button>
  </a>
</body>
</html>