<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new message</title>
</head>
<body>
  <h1>Add new message</h1>
  <form action="/new" method="post">
    <label for="user">Name:</label>
    <input type="text" id="user" name="user" required>
    <br>
    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>
    <br>
    <button type="submit">post message</button>
    <br>
    <button href="/">Back to Message Board</button>
  </form>
</body>
</html>